.header-div {
  height: 25%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header-div > img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.header-div > p {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header-div {
    height: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}